<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
</head>
<body>

		<form id="registration" form action="register.php" method="post" >
           
                <input  id="fname" type="text" name="firstname" placeholder="Име"> <br> <br>
				<input  id="lname" type="text" name="lastname" placeholder="Фамилия"> <br> <br>
                <input  id="mail"  type="text" name="e-mail" placeholder="E-mail"> <br> <br>
                <input  id="pass" type="password" name="password" placeholder="Парола"> <br> <br>
                <input  id="repeatpass" type="password" name="repeatpassword" placeholder="Повтори паролата"> <br> <br>
                <input  id="group" type="number" name="group" placeholder="Група" min="1" max="8"> <br> <br>
				<input  id="potok" type="number" 	name="potok" placeholder ="Поток" min="1" max="2"> <br> <br>
				<input  id="spec"  type = "text"	name="spec"	placeholder="Специалност">	<br> <br>
				<input  id="vip"  type = "number"	name="vip"	placeholder="Випуск" min="2000" max="2100"> <br> <br>
                <input id="submit"  type="submit" value="Регистрация">
            
        </form>
</body>
</html>  