<!DOCTYPE html>
<html>
<head>
<meta charset = "utf-8">
</head>
<body>

	<form id="registration" action="../controllers/registration.php" method="post" >
		
		Име:<br>
        <input  required id="firstName" type="text" name="firstName" placeholder="Име" > <br>
        <span class="error" style="color:red">  </span><br>

		Фамилия: <br>
		<input   required id="lastName" type="text" name="lastName" placeholder="Фамилия" > <br>
		<span class="error" style="color:red">  </span><br>

		E-mail: <br>
		<input   required id="email"  type="text" name="email" placeholder="E-mail" > <br>
		<span class="error" style="color:red">  </span><br>

		Парола:<br>
		<input  id="password" type="password" name="password" placeholder="Парола" required> <br>
		<span class="error" style="color:red"> </span><br>

		Повтори паролата:<br>
        <input  id="repeatPassword" type="password" name="repeatPassword" placeholder="Повтори паролата" required><br>
		<span class="error" style="color:red">  </span><br>

		Група:<br>
		<input  required id="group" type="number" name="group" placeholder="Група" min="1" max="8" > <br> <br>

		Поток:<br>
		<input  required id="stream" type="number" 	name="stream" placeholder ="Поток" min="1" max="2" > <br> <br>
		
		Специалност:<br>
		<input  required id="subject"  type = "text"	name="subject"	placeholder="Специалност" >	<br>
		<span class="error" style="color:red"> </span><br>
		
		Випуск:<br>
		<input required id="graduation"  type = "number"	name="graduation"	placeholder="Випуск" min="2000" max="2100" > <br> <br>
		
		<input id="submit"  type="submit" value="Регистрация">
            
    </form>
</body>
</body>
</html>  